/* * {
Para delimitar los bordes
    outline:1px solid red;
  
  }*/
:root {
    --main-bgcolormain: #060613;
    --main-colorblue: #08B7BA;
    --main-colorwhite: #ffffff;
    --main-colorpink: #F612AC;
    --main-coloryellow: #FEED01;
    --var-fontfamily: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
    background: rgba(0, 0, 0, 0.46);
}

.mainMenu {
    height: 32px;
    padding: 40px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainMenu a {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.mainMenu img {
    width: 280px;
    margin-right: 38px;
}

.mainNav {
    display: flex;
}

.mainNav a {
    margin: 15px;
}

.mainNav a:hover {
    color: var(--main-colorpink);
}

.secondaryNav {
    display: flex;
    justify-content: flex-end;
}

.suscriptionButton {
    background-color: var(--main-colorblue);
    color: #060613;
    font-family: var(--var-fontfamily);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
}

.suscriptionButton:hover {
    background-color: var(--main-colorpink);

}

#arrowDown {
    fill: white;
    padding-left: 0.5rem;
}

.searchIcon {
    background-color: transparent;
    cursor: pointer;
    fill: white;
}

.searchIcon svg:hover,
#arrowDown:hover {
    fill: var(--main-colorpink);
}