:root {
    --main-bgcolormain: #060613;
    --main-colorblue: #08B7BA;
    --main-colorwhite: #ffffff;
    --main-colorpink: #F612AC;
    --main-coloryellow: #FEED01;
    --var-fontfamily: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.movie, .moviePoster{
    display:flex;
    position: relative;
    cursor: pointer;
}

.moviePoster img{
    width: 376px;
     
}

.moviePoster:hover{
    outline: 4px solid #222429;
    border-radius: 6px;
}

